:root{
  margin: 0;
}

body{
  background-image: url("./assets/home/background-home-desktop.jpg");
  color: white;
  background-size: cover;
}

nav{
  display: flex;
  justify-content: right;
}

nav ul{
  display: flex;
  list-style: none;
  margin-right: 1rem;
}

nav li{
  margin-left: 1rem;
}

.nav-number{
  font-weight: bolder;
}

nav a{
  color: white;
  text-decoration: none;
}

.home{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  margin: 10em 5em;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
