:root {
  margin: 0;
  --heading-1-fs: 9.375em;
  --heading-1-4-ff: "Bellefair", serif;
  --heading-2-fs: 100px;
  --heading-3-fs: 58px;
  --heading-4-fs: 32px;
  --heading-5-fs: 28px;
  --heading-5-cs: 4.75px;
  --heading-5-ff: "Barlow Condensed", sans-serif;
  --sub-heading-1-fs: 28px;
  --sub-heading-1-ff: "Bellefair", serif;
  --sub-heading-2-fs: 14px;
  --sub-heading-2-cs: 2.35px;
  --sub-heading-2-ff: "Barlow Condensed", sans-serif;
  --nav-text-fs: 16px;
  --nav-text-cs: 2.7px;
  --nav-text-ff: "Barlow Condensed", sans-serif;
  --copy-text-ff: "Barlow", sans-serif;
}

/* #############################
# utility classes
############################# */

flex {
  display: flex;
}

body {
  color: rgb(255, 255, 255);
  background-color: rgb(255, 255, 255);
  font-family: var(--heading-5-ff);
  line-height: 1.6;
  font-size: 16px;
}

.App {
  width: 375px;
  margin: 0 auto;
  background-color: black;
}

.sub-app {
  /* height: 100vh; */
  padding: 0.5em 1em;
}

/*##################################### 
Header
#####################################*/

header {
  margin: 1em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  /* width: 100%; */
}

.header--icon img {
  width: 40px;
}

header button {
  background-color: unset;
  border: none;
  cursor: pointer;
}

nav.headerNav {
  position: relative;
}

nav.headerNavMenu {
  display: none;
  padding-top: 2rem;
  padding-right: 2rem;
  flex-direction: column;
  align-items: end;
  position: absolute;
  right: -3em;
  top: -2.5em;
  height: 100vh;
  width: 70%;
  justify-content: right;
  font-family: var(--nav-text-ff);
  word-spacing: var(--nav-text-cs);
  font-size: var(--nav-text-fs);
  /* From https://css.glass */
  background: rgba(158, 159, 157, 0.301);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(3.3px);
  transition: all 0.5s ease-in-out;
}

nav.headerNavMenu ul {
  flex-direction: column;
  margin-right: 1rem;
  list-style: none;
  padding-left: 1rem;
}

nav.headerNavMenu button {
  margin: 0;
  position: absolute;
  right: 1rem;
  top: 0.5rem;
  color: white;
  transition: all 0.5s ease-in-out;
}

nav.headerNavMenu li {
  margin-left: 1rem;
}

.nav-number {
  font-weight: bolder;
}

nav a {
  color: white;
  text-decoration: none;
}

/*##################################### 
sub section
#####################################*/

.sub-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.sub-section img {
  width: 250px;
}

.sub-nav {
  display: flex;
  justify-content: center;
}

.sub-nav ul {
  list-style: none;
  display: flex;
  padding: 0;
}

.sub-nav a {
  margin: 1em 0.5em;
}

/*##################################### 
Home
#####################################*/

.home {
  /* height: 100vh; */
  background-image: url("./assets/home/background-home-mobile.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}

.home-body {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home--copy {
  text-align: center;
  font-size: 15px;
  line-height: 25px;
  color: #d0d6f9;
}

.home--line-one {
  font-family: var(--heading-5-ff);
  font-size: 16px;
  letter-spacing: 2.7px;
  line-height: 19.2px;
  margin-bottom: 2rem;
}

.home--big-text {
  font-size: 80px;
  font-family: var(--heading-1-4-ff);
  margin: 0.5em 0;
  line-height: 80px;
  color: white;
}

.home--text {
  line-height: 25px;
  margin-bottom: 3em;
  font-family: var(--copy-text-ff);
}

.home--button {
  display: flex;
  justify-content: center;
  margin-bottom: 3em;
}

.home--button button {
  height: 150px;
  width: 150px;
  border-radius: 100%;
  font-family: "Bellefair", sans-serif;
  font-size: 20px;
  border: 1px solid white;
}

/*##################################### 
Destination
#####################################*/

.destination--subSection.image__container {
  height: 250px;
}

.destination--subSection.sub-nav a {
  margin: 1em 0.5em;
  color: white;
}

.destination--subSection.sub-nav a.unselected {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.362);
}

.destination.details.bigText {
  font-family: var(--sub-heading-1-ff);
  font-size: var(--sub-heading-1-fs);
  margin-top: 0;
}

/*##################################### 
Technology
#####################################*/

.technology .sub-nav li {
  border: 1px solid hsl(0deg 0% 100% / 27%);
  padding: 1em 1.5em;
  margin: 0 0.5em;
  border-radius: 50%;
}

.technology .sub-nav li.selected {
  border: 1px solid rgb(255, 255, 255);
}

.technology .sub-nav a {
  /* border: 1px solid white;
  width: 1em;
  height: 1em;
  border-radius: 50%; */
  color: white;
  text-decoration: none;
}

.technology.subSection {
  margin: 0 1em;
}

.technology.subSection .image__container {
  height: 260px;
}

.subSection.crewMember .image__container {
  height: 350px;
}

@media (min-width: 700px) {
}
